<h1> Your Contacts </h1>

<%= form_for @invite, url: select_contacts_path do |x| %> 
  <% current_user.users.each do |a| %>
    <%= check_box("contacts", "add", { :multiple => true}, a.id, nil) %>
    <%= label_tag a.name %><br>
<% end %> 




<%= x.submit class: 'btn btn-primary'%>
<% end %>

<br>





