<element id="hide_navbar"></element>

<div class="centered">
<h1> Your Contacts </h1>

<% if current_user.users.empty? %>

  <p>You have no contacts. Please add contacts to send invites.</p>

<% else %>

  <%= form_for @invite, url: select_contacts_path do |x| %> 
    <% @confirmed_users.each do |a| %>
      <%= check_box("contacts", "add", { :multiple => true}, a.id, nil) %>
      <%= label_tag a.name %><br>
  <% end %> 

  <%= x.submit class: 'btn btn-primary'%>
  <% end %>

<% end %>

<br>
</div>




