<h1> Your Scheduled Meet-Ups </h1>

<ul class="nav nav-pills">
  <li>
    <%= link_to('New Meet', new_meet_path) %>
  </li>
</ul>

<% @meets.each do |meet| %>
  <div class="row">
     <div class="col-md-3 col-sm-3">
      <p class="lead"><%= link_to(meet.user_id, meet) %></p>
      <p class="text-info"><%= meet.address %></p>
      <p class="text-warning"><%= meet.time %></p>
    </div>
  
<% end %>

