<div class="hidden" id="invites">
	<a id="inc" href="#">incoming</a>
	<a id="out" href="#">outgoing</a>
	<div id="incoming">
		<ul>
			<% @inc_invites.each do |inv| %>
				<li> <%= inv.address %></li>
				<li> <%= inv.time.strftime("%l:%M %p") %></li>
				<li> <%= inv.date.strftime("%a, %b %e") %></li>
				<a href="/invites/<%= inv.id %>/confirm"><button>Confirm</button></a>
			<%end%>
		</ul>
	</div>
	<div class="hidden" id="outgoing">
		<ul>
			<% @out_invites.each do |inv| %>
				<li> <%= inv.address %></li>
				<li> <%= inv.time.strftime("%l:%M %p") %></li>
				<li> <%= inv.date.strftime("%a, %b %e") %></li>
			<%end%>
		</ul>
	</div>
</div>

